#widget-container h2 {
  color: var(--theia-ui-font-color1);
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.editor-window {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border: none; /* Remove border */
  resize: none; /* Disable resizing */
  padding: 10px; /* Optional padding */
  box-sizing: border-box; /* Include padding in width/height */
  font-family: inherit; /* Inherit font from body */
  font-size: 12px; /* Set a default font size */
  background-color: var(--theia-layout-color0); /* Optional background color */
  color: var(--theia-ui-font-color1);
}

.editor-container {
  width: 100%;
  height: 100%;
}

.display-view-list-container ul,
li {
  list-style-type: none;
}

.display-view-list-container {
  margin: auto;
  padding: auto;
}

.display-view-list {
  padding-left: 0px;
}

/* Styling for the class table view */
.table-widget table {
  width: 100%; /* Make the table fill the available width */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
  table-layout: fixed; /* Use fixed layout for even column distribution */
}

.table-widget th,
td {
  padding: 10px; /* Add some padding for better spacing */
  text-align: left; /* Align text to the left */
  border: 1px solid #ddd; /* Add a light border for separation */
  white-space: nowrap; /* Prevent line breaks in cells */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}

.table-widget th {
  font-weight: bold; /* Make header text bold */
}

.table-widget tr:hover {
  background-color: var(--theia-layout-color1); /* Highlight row on hover */
}

.diagram-container {
  background: var(--theia-layout-color0);
  width: 100%;
  height: 100%;
}

.custom-node {
  border: solid 2px gray;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.custom-node-color {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.circle-port {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 4px;
  background: darkgray;
  cursor: pointer;
}

.circle-port:hover {
  background: mediumpurple;
}

.hidden-input {
  border: none; /* Remove border */
  background: transparent; /* Make background transparent */
  outline: none; /* Remove outline */
  width: 100%; /* Set full width */
  height: 100%; /* Set full height */
  font-family: inherit;
  color: var(--theia-ui-font-color1);
}

.vitruvius-help {
  margin: 30px;
}
