#widget-container h2 {
  color: var(--theia-ui-font-color1);
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.editor-window {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border: none; /* Remove border */
    resize: none; /* Disable resizing */
    padding: 10px; /* Optional padding */
    box-sizing: border-box; /* Include padding in width/height */
    font-family: inherit; /* Inherit font from body */
    font-size: 12px; /* Set a default font size */
    background-color: var(--theia-layout-color0); /* Optional background color */
  	color: var(--theia-ui-font-color1);
}

.editor-container {
	width: 100%;
	height: 100%;
}

.display-view-list-container ul, li {
	list-style-type: none;
}

.display-view-list-container {
	margin: auto;
	padding: auto;
}

.display-view-list {
	padding-left: 0px;
}
